body {
    background: #d6d4d4;
    font-family: open sans;
    box-sizing: border-box;
}

.area {
    background: #daebe67a;
    width: 80%;
    height: auto;
    border: 1px solid #575757;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px 30px;
}

label, input, select, #register {
    font-size: smaller;
    font-weight: 500;
}

#phones{
        margin-left: 6%;
        margin-bottom: 1.5%;
        font-weight: 100;
        top: 0px;
        position: absolute;
        font-size: smaller;
        color: #3b3939;
        overflow: hidden;
}

#phonestwo {
    color: #918c8c;
    font-weight: bolder;
}

img {
    max-width: 12%;
    max-height: 14%;
    padding-top: 25px;

}

#laptop {
    display: none;
}

#laptopstwo {
    display: none;
}

#headtag {
   margin-top: 5px;
}

#phonestwo {
    padding-bottom: 5px;
    font-size: smaller;
    font-weight: lighter;
}

form {
    background: #ffffff;
    border-radius: 5px;
    padding: 0 15px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.form-group {
    margin-bottom: 20px; 
    display: flex;       
    flex-direction: column;
}

.form-label {
    display: block;
    margin-bottom: 8px;
}

 

input {
    padding: 10px; 
    height: 8px; 
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: auto;         
    height: 30px;
    padding-left: 10px;
}

button {
    background: #45a78bee;
    color: #ffffff;
    width: 100%;
    height: 30px;
    padding-right: 14px;
    border: hidden;
}

a {
    color: #45a78bee;
}

input:focus, select:focus {
    border-color: #45a78bee;
    border-width: 1px;
    border-style: solid;
    outline: none;
}

h3 {
    font-size: larger;
}

option:first-child, #faint {
    color: #726a6a;
}

#register {
    padding-left: 8px;
}
