body { 
    max-width:50%;
    min-width: 20%;
    position: relative;
    font-family: Montserrat;
    margin: 50px; 
}

.container {
    position: relative; 
    z-index: 0;
}

.background {
    background-color: #383535;
    border: 1px #383535;
    padding-top: 30px;
    padding-bottom: 150px;
    padding-left: 2px;
    padding-right: 100px;
    max-width: 80%;
}

h1 {
    text-align: center;
    background: #f3187e;
    border-radius: 5px;
    padding: 15px 20px;
    text-decoration: #000000;
    margin-left: 85px;
    margin-right: 225px;
    position: relative;
    z-index: 2;
}


.paragraph {
        background: #ffffff;
        max-width: 50%;
        border-radius: 12px;
        padding-top: 75px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        text-decoration: #000000;
        margin: -80px 120px;
        text-align: justify;
        margin-left: 8%;
        position: relative;
}

